# Node
node_modules/
#package.json
#package-lock.json

# SCSS
#assets/scss/

# Archivos de desarrollo
.vscode/
*.log
*.map

# OS
.DS_Store
Thumbs.db

# Entorno
.env

# Archivos temporales
*.tmp
*.cache