/* Hero */
.page-celebra-con-sentido {
    .hero {
        &__imagen {
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 64/57;
            width: 100%;
            height: auto;

            .imagen {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &__container {
            padding-block: 24px 56px;
        }

        &__container-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 12px;
        }

        &__titulo {
            text-align: center;
        }
    }

    /* Tablet */
    @include media-breakpoint-up(md) {
        .hero {
            &__imagen {
                aspect-ratio: 371/214;
            }

            &__container {
                padding-block: 32px 56px;
            }

            &__container-inner {
                gap: 16px;
            }
        }
    }

    /* Desktop */
    @include media-breakpoint-up(lgg) {
        .hero {
            position: relative;

            &__contenido {
                background: none;
            }

            &__container {
                padding-block: 80px;

                @include media-breakpoint-up(xl) {
                    padding-block: 140px;
                }
            }

            &__container-inner {
                align-items: flex-start;
                justify-content: flex-start;
                width: 50%;
                min-height: 225px;
            }

            &__titulo {
                text-align: start;
                color: $primary-indigo!important;
                text-wrap: balance;
            }

            &__texto {
                color: $primary-blue!important;
                text-wrap: balance;
            }

            &__imagen {
                position: absolute;
                top: 0;
                right: 0;
                width: 35%;
                height: 100%;
                aspect-ratio: 355/261;
            }
        }
    }
}

/* Que es */
.page-celebra-con-sentido {
    .que-es {
        padding-block: 56px;

        background: $shade-white;

        &__container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 32px;
            width: 100%;
        }

        &__titulo {
            text-align: center;
        }

        &__descripcion {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 16px;
            width: 100%;
        }
    }

    @include media-breakpoint-up(lgg) {
        .que-es {
            padding-block: 80px 100px;

            &__container {
                flex-direction: row;
                gap: 80px;
            }

            &__titulo {
                text-align: start;
                width: 35%;
                flex-shrink: 0;
            }

            &__descripcion {
                gap: 24px;
            }
        }
    }
}

/* Como funciona */
.page-celebra-con-sentido {
    .como-funciona {
        padding-block: 56px;

        &__titulo {
            text-align: center;
        }

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 32px;
        }

        &__pasos {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 32px;
            width: 100%;
        }

        &__paso {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 24px;
            width: 100%;

            .paso {
                &__icono {
                    width: 56px;
                    height: 56px;
                    aspect-ratio: 1/1;
                    flex-shrink: 0;
                }

                &__info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 8px;
                }
            }
        }
    }

    @include media-breakpoint-up(lgg) {
        .como-funciona {
            padding-block: 80px 100px;

            &__container {
                flex-direction: row;
                align-items: flex-start;
                gap: 80px;
            }

            &__titulo {
                width: 35%;
                flex-shrink: 0;
                text-align: start;
            }

            &__pasos {
                gap: 48px;
            }

            &__paso {
                align-items: center;
                .paso {
                    &__icono {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}

.celebra-con-sentido {
    padding-block: 56px;
    
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 32px;
        width: 100%;
        padding: 10%;
    }

    &__contenido {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;
        width: 100%;
    }

    &__imagen {
        width: 100%;
        /* aspect-ratio: 339/424; */
        aspect-ratio: 55/49;
        border-radius: 8px;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.40);
        object-fit: cover;
        object-position: center;
    }

    /* Tablet */
    

    /* Desktop */
    @include media-breakpoint-up(lgg) {
        padding: 0;

        &__container {
            flex-direction: row;
            align-items: center;
            padding: 0;
            gap: 80px;
        }

        &__imagen {
            width: 40%;
            border-radius: 0;
            /* aspect-ratio: 55/49; */
        }

        &__contenido {
            justify-content: center;
            padding-right: 17%;
            padding-block: 32px;
        }
        
        .gantz-btn {
            margin-top: 16px;
        }
    }
}