/* Hero */
.page-personas {
    .hero {
        &__imagen {
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 64/57;
            width: 100%;
            height: auto;

            .imagen {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &__container {
            padding-block: 24px 56px;
        }

        &__container-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 16px;
            text-align: center;
        }

        &__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 12px;
        }

        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
            width: 100%;
        }

        &__titulo {
            text-align: center;
        }

        &__nota {
            margin: 0;
        }

        &__botones {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
            width: 100%;
        }
    }

    /* Tablet */
    @include media-breakpoint-up(md) {
        .hero {
            &__imagen {
                aspect-ratio: 371/214;
            }

            /* &__contenido {
                background: $primary-blue;
            } */

            &__container {
                padding-block: 32px 56px;
            }

            &__container-inner {
                gap: 16px;
            }

            /* &__titulo {
                color: $primary-yellow;
            } */

            &__texto p {
                margin: 0;
            }

            &__botones {
                flex-direction: row;
                gap: 24px;
            }
        }
    }

    /* Desktop */
    @include media-breakpoint-up(xl) {
        .hero {
            position: relative;

            /* &__contenido {
                background: none;
            } */

            &__container {
                padding-block: 130px;
            }

            &__container-inner {
                align-items: flex-start;
                justify-content: flex-start;
                width: 50%;
                min-height: 225px;
                text-align: start;
                gap: 24px;
            }

            &__header {
                gap: 0;
                align-items: flex-start;
            }

            &__body {
                gap: 10px;
                align-items: flex-start;
            }

            /* &__titulo {
                text-align: start;
                color: $primary-indigo!important;
                text-wrap: balance;
            } */

            /* &__texto {
                color: $primary-blue!important;
                text-wrap: balance;
            } */

            &__imagen {
                position: absolute;
                top: 0;
                right: 0;
                width: 40%;
                height: 100%;
                aspect-ratio: 355/261;
            }

            &__botones {
                justify-content: flex-start;
            }
        }
    }
}

/* Accesos Rapidos */
.page-personas {
    .accesos {
        padding-block: 24px;
        border-block: 1px solid rgba(46, 62, 128, 0.3);

        &__container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 12px;
        }

        &__list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
        }

        &__item {
            margin: 0;
        }
    }

    /* Tablet */
    @include media-breakpoint-up(md) {
        .accesos {
            padding-block: 32px;

            &__container {
                gap: 16px;
            }

            &__titulo {
                font-size: 1.125rem;  
                font-weight: 400;
            }
        }
    }

    /* Desktop */
    @include media-breakpoint-up(xl) {
        .accesos {
            &__container {
                gap: 24px;
            }

            &__titulo {
                font-size: 1.25rem;
                font-weight: 400;
            }
        }
    }
}

/* SOAP */
.page-personas {
    .soap {
        padding-block: 56px;

        &__container-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;
        }

        &__header {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            gap: 32px;

            .header {
                &__contenido {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;
                }

                &__colaborador {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;

                    .colaborador {
                        &__rotulo {
                            margin: 0;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        &__contenido {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;
        }

        &__disponibles {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;

            .disponibles {
                &__titulo {
                    text-align: center;
                }

                &__lista {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 8px;
                    row-gap: 16px;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }

                &__item-card {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 8px;
                    width: 109px;
                    text-align: center;
                    
                    .item-card {
                        &__icono {
                            width: 90px;
                            height: 65px;
                            padding: 8px;
                            background: white;
                            border-radius: 8px;
                            border: 1px solid rgba(46, 62, 128, 0.3);

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            svg {
                                width: 64px;
                                height: 100%;
                                color: $primary-indigo;
                            }
                        }
                    }
                }
            }
        }

        &__opciones {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;
            width: 100%;

            .opciones {
                &__opcion {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                }

                &__nombre {
                    margin: 0;
                }
            }
        }
    }

    /* Tablet */
    @include media-breakpoint-up(md) {
        .soap {
            &__header {
                flex-direction: row;
                align-items: flex-start;

                .header {
                    &__contenido {
                        align-items: flex-start;
                    }

                    &__colaborador {
                        /* width: 188px; */
                        padding-inline: 16px;
                        flex-shrink: 0;

                        .colaborador {
                            &__rotulo {
                                font-size: 14px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            &__disponibles {
                .disponibles {
                    &__lista {
                        gap: 16px;
                    }
                    
                    &__item-card {
                        gap: 16px;
                        width: 110px;

                        .item-card {
                            &__icono {
                                width: 100%;
                                height: 80px;

                                svg {
                                    width: 80px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* Desktop */
    @include media-breakpoint-up(xl) {
        .soap {
            padding: 80px 100px;

            &__container-inner {
                gap: 48px;
            }

            &__header {
                width: 100%;
                align-items: flex-start;
                justify-content: space-between;

                .header {
                    &__contenido {
                        width: 630px;
                    }

                    &__colaborador {
                        /* width: 219px; */
                        padding: 10px;

                        .colaborador {
                            &__rotulo {
                                font-size: 16px;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

            &__contenido {
                gap: 48px;
            }

            &__disponibles {
                .disponibles {
                    &__lista {
                        gap: 24px;
                    }
                    
                    &__item-card {
                        width: 180px;
                        font-size: 16px;
                        font-weight: 600;

                        .item-card {
                            &__icono {
                                height: 160px;

                                svg {
                                    width: 120px;
                                }
                            }
                        }
                    }
                }
            }

            &__opciones {
                flex-direction: row;
                gap: 64px;
                width: fit-content;

                .opciones {
                    &__opcion {
                        width: fit-content;
                    }
                }
            }
        }
    }
}

/* Giftcards */
.page-personas {
    .giftcards {
        padding-block: 56px;
        background: $shade-white;

        &__container-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;
        }

        &__header {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            gap: 40px;

            .header {
                &__contenido {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;
                }

                &__colaborador {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;

                    .colaborador {
                        &__rotulo {
                            margin: 0;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        &__contenido {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;
        }

        &__comercios {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;

            .comercios {
                &__titulo {
                    text-align: center;
                }

                &__lista {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 8px;
                    row-gap: 16px;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                }

                &__item {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    height: 100px;
                    background: $main-white;
                    border-radius: 8px;
                    border: 1px solid rgba(46, 62, 128, 0.3);
                    padding: 12px;
                    
                    .item {
                        &__logo {
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }
        }

        &__opciones {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;
            width: 100%;

            .opciones {
                &__opcion {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                }

                &__nombre {
                    margin: 0;
                }
            }
        }
    }

    /* Tablet */
    @include media-breakpoint-up(md) {
        .giftcards {
            &__header {
                flex-direction: row;
                align-items: flex-start;

                .header {
                    &__contenido {
                        align-items: flex-start;
                    }

                    &__colaborador {
                        /* width: 188px; */
                        padding-inline: 16px;
                        flex-shrink: 0;

                        .colaborador {
                            &__rotulo {
                                font-size: 14px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            &__comercios {
                .comercios {
                    &__lista {
                        gap: 16px;
                    }
                    

                    &__item {
                        width: 220px;
                        height: auto;
                        aspect-ratio: 2/1;
                        
                        .item {
                            &__logo {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Desktop */
    @include media-breakpoint-up(xl) {
        .giftcards {
            padding: 80px 100px;

            &__container-inner {
                gap: 48px;
            }

            &__header {
                width: 100%;
                align-items: flex-start;
                justify-content: space-between;

                .header {
                    &__contenido {
                        width: 630px;
                    }

                    &__colaborador {
                        /* width: 219px; */
                        padding: 10px;

                        .colaborador {
                            &__rotulo {
                                font-size: 16px;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

            &__contenido {
                gap: 48px;
            }

            &__comercios {
                .comercios {
                    &__lista {
                        gap: 24px;
                    }
                    
                    &__item {
                        width: 236px;
                    }
                }
            }

            &__opciones {
                flex-direction: row;
                gap: 64px;
                width: fit-content;

                .opciones {
                    &__opcion {
                        width: fit-content;
                    }
                }
            }
        }
    }
}

/* Celebra con sentido */
