/* Hero */
.page-testimonios {
    .hero {
        &__imagen {
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 64/57;
            width: 100%;
            height: auto;

            .imagen {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &__container {
            padding-block: 24px 56px;
        }

        &__container-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 12px;
        }

        &__titulo {
            text-align: center;
        }
    }

    /* Tablet */
    @include media-breakpoint-up(md) {
        .hero {
            &__imagen {
                aspect-ratio: 371/214;
            }

            &__container {
                padding-block: 32px 56px;
            }

            &__container-inner {
                gap: 16px;
            }
        }
    }

    /* Desktop */
    @include media-breakpoint-up(lgg) {
        .hero {
            position: relative;

            &__contenido {
                background: none;
            }

            &__container {
                padding-block: 80px;

                @include media-breakpoint-up(xl) {
                    padding-block: 130px;
                }
            }

            &__container-inner {
                align-items: flex-start;
                justify-content: flex-start;
                width: 50%;
                min-height: 225px;
            }

            &__titulo {
                text-align: start;
                color: $primary-indigo!important;
                text-wrap: balance;
            }

            &__texto {
                color: $primary-blue!important;
                text-wrap: balance;
            }

            &__imagen {
                position: absolute;
                top: 0;
                right: 0;
                width: 40%;
                height: 100%;
                aspect-ratio: 355/261;
            }
        }
    }
}

/* Testimonios Destacados */
.page-testimonios {
    .testimonios-destacados {
        padding-block: 56px;
        background: $shade-white;

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;
        }

        &__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }

        &__titulo {
            text-align: center;
        }

        &__lista {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
            width: 100%;
        }

        &__testimonio {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0;
            background: white;
            border-radius: 8px;
            border: 1px solid rgba(46, 62, 128, 0.3);
            overflow: hidden;

            .testimonio {
                &__video {
                    width: 100%;
                    /* height: 190px; */
                    position: relative;
                }

                &__media {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 16 / 9;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        display: flex;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(46, 62, 128, 0.4);
                        z-index: 1;
                    }
                }

                &__play {
                    width: 48px;
                    height: 48px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $main-white;
                    z-index: 2;
                }

                &__duracion {
                    position: absolute;
                    bottom: 16px;
                    right: 16px;
                    background: $main-white;
                    color: $primary-blue;
                    padding: 4px 8px;
                    border-radius: 4px;
                    z-index: 2;
                }

                &__contenido {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 10px;
                    width: 100%;
                    padding: 24px 24px 32px 24px;
                }

                &__info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 8px;
                }
            }
        }
    }

    /* Tablet */
    @include media-breakpoint-up(md) {
        .testimonios-destacados {
            &__lista {
                display: grid;
                grid-template-columns: repeat(2, auto);
                align-items: flex-start;
                gap: 24px;
            }

            &__testimonio {
                width: 100%;
                height: 100%;
            }
        }
    }

    /* Desktop */
    @include media-breakpoint-up(lgg) {
        .testimonios-destacados {
            padding-block: 80px 100px;

            &__container {
                gap: 48px;
            }

            &__header {
                gap: 24px;
            }

            &__lista {
                gap: 32px;
            }

            &__testimonio {
                width: 100%;
                height: 100%;

                .testimonio {
                    &__video {
                        /* height: 344px; */
                    }
                }
            }
        }
    }
}

/* Testimonios Escritos */
.page-testimonios {
    .testimonios-escritos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        width: 100%;

        &__testimonio {
            padding-block: 56px;
            width: 100%;

            &:nth-child(even) {
                background: $shade-white;
            }

            .testimonio {
                &__container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 16px;
                    width: 100%;
                }

                &__header {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 16px;
                    width: 100%;
                }

                &__historia {
                    >p {
                        &:first-child::after {
                            content: '..';
                        }
                        &:nth-child(1n + 2) {
                            display: none;
                            visibility: hidden;
                        }
                    }

                    >button {
                        background: none;
                        border: none;
                        padding: 0!important;
                    }

                    &.expanded {
                        >p {
                            &:first-child::after {
                                content: unset;
                            }
                            &:nth-child(1n + 2) {
                                display: block;
                                visibility: visible;
                            }
                        }

                        >button {
                            display: none;
                            visibility: hidden;
                            background: none;
                            border: none;
                            padding: 0!important;
                        }
                    }
                }

                &__destacado {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 24px;
                    width: 100%;
                    padding: 16px;
                    background: white;
                    margin: 0;
                    margin-top: 16px;
                    border-radius: 8px;
                    border: 1px solid rgba(46, 62, 128, 0.30);
                }

                &__imagen {
                    width: 100%;
                    aspect-ratio: 122/71;
                    border-radius: 4px;
                    object-fit: cover;
                    object-position: center;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.40);
                }

                &__destacado-contenido {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 16px;
                    width: 100%;
                    padding: 16px 0 16px 16px;
                    border-left: 4px solid $accent-cobalt;
                }

                &__info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 0;
                    width: 100%;
                }
            }
        }
    }

    /* Desktop */
    @include media-breakpoint-up(lgg) {
        .testimonios-escritos {
            &__testimonio {
                padding-block: 80px 100px;

                .testimonio {
                    &__container {
                        gap: 24px;
                        align-items: center;
                    }

                    &__header {
                        gap: 24px;
                        max-width: 55%;
                        align-items: center;
                        text-align: center;
                    }

                    &__historia {
                        max-width: 83%;

                        >p {
                            display: block!important;
                            visibility: visible!important;

                            &:first-child::after {
                                content: unset;
                            }
                        }

                        >button {
                            display: none;
                            visibility: hidden;
                        }
                    }

                    &__destacado {
                        margin-top: 24px;
                        padding: 24px;
                        flex-direction: row;
                        align-items: center;
                    }

                    &__imagen {
                        width: auto;
                        height: 217px;
                        aspect-ratio: 101/70;
                    }

                    &__destacado-contenido {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        gap: 16px;
                        width: 100%;
                        padding: 16px 0 16px 21px;
                        border-left: 4px solid $accent-cobalt;
                    }
                }
            }
        }
    }
}