.chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 12px;
    padding: 8px 16px;
    border-radius: 100px;
    background: $shade_white;
    color: $primary-blue;
    text-decoration: none;
    outline: none;
    border: none;

    &.active {
        background: $accent-cobalt;
        color: $main-white;
    }

    &:hover {
        filter: saturate(1.4);
        background: $accent-cobalt;
        color: $main-white!important;
    }

    @include media-breakpoint-up(md) {
        font-size: 18px;
        padding: 8px 16px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 20px;
    }
}